<input type="file" id="file-input" />
<button id="read-button">Read File</button>
<select id="list">
    <option value="original">original</option>
    <option value="mirror">mirror</option>
</select>
<button id="change">Change</button>

<pre id="file-contents"></pre>
<div id="array-export" style="font-size: 20px;"></div>
<div id="mirror-array-export-x" style="font-size: 20px;"></div>
<div id="mirror-array-export-y" style="font-size: 20px;"></div>
<div id="rotate-array-export-y" style="font-size: 20px;"></div>
<div id="mirror-rotate-array-export-y" style="font-size: 20px;"></div>





<script>
    var change = 0;
    let text = ""
    var grid_creation = false;
    var pattern_width;
    var pattern_height;
    var grid = [];
    var middle_cell = [0, 0]
    var export_pattern_array = []
    var export_pattern_array_string = ""

    document.querySelector("#read-button").addEventListener('click', function () {
        let file = document.querySelector("#file-input").files[0];
        let reader = new FileReader();
        reader.addEventListener('load', function (e) {
            text = e.target.result;
            document.querySelector("#file-contents").textContent = text;
            var pattern_code = document.querySelector("#file-contents").textContent;
            console.log(pattern_code)
            var rows = pattern_code.split("\n")

            for (row of rows) {
                var codes = row.split("")
                var row_array = []
                var col = 0;
                for (code of codes) {
                    
                    if (code == ".") {
                        row_array.push(0);
                    } else if (code == "*") {
                        row_array.push(1);
                    } else {
                        console.log("x")
                    }
                    col++;
                }
                grid.push(row_array);
            }//[x,y]

            pattern_width = grid[0].length;
            pattern_height = grid.length;
            middle_cell = [Math.floor(pattern_width / 2), Math.floor(pattern_height / 2)];
            export_pattern_array_string += "["
            for (var i = 0; i < pattern_height; i++) {
                for (var j = 0; j < pattern_width; j++) {
                    //console.log(`${i}+${j}`)
                    //console.log(grid[i][j])
                    if (grid[i][j] == 1) {
                        //console.log(1)
                        offset_y = i - middle_cell[1];
                        offset_x = j - middle_cell[0];
                        export_pattern_array.push([offset_y, offset_x])//[y,x]
                        export_pattern_array_string += `[${offset_y},${offset_x}]`
                    }
                    export_pattern_array_string += ","
                }
            }
            export_pattern_array_string = export_pattern_array.join("],[")
            document.querySelector("#array-export").innerHTML = `[[${export_pattern_array_string}]]`;
            
            var export_pattern_array_mirror=[]
            for (offset of export_pattern_array){
                export_pattern_array_mirror.push([offset[0],-offset[1]])
            }
            var export_pattern_array_string_mirror=export_pattern_array_mirror.join("],[")
            document.querySelector("#mirror-array-export-x").innerHTML = `[[${export_pattern_array_string_mirror}]]`;

            var export_pattern_array_mirror=[]
            for (offset of export_pattern_array){
                export_pattern_array_mirror.push([-offset[0],-offset[1]])
            }
            var export_pattern_array_string_mirror=export_pattern_array_mirror.join("],[")
            document.querySelector("#mirror-array-export-y").innerHTML = `[[${export_pattern_array_string_mirror}]]`;

            var export_pattern_array_rotate=[]
            for (offset of export_pattern_array){
                export_pattern_array_rotate.push([offset[1],offset[0]])
            }
            var export_pattern_array_string_rotate=export_pattern_array_rotate.join("],[")
            document.querySelector("#rotate-array-export-y").innerHTML = `[[${export_pattern_array_string_rotate}]]`;

            var export_pattern_array_mirror=[]
            for (offset of export_pattern_array_rotate){//mirror of rotate
                export_pattern_array_mirror.push([-offset[0],offset[1]])
            }
            var export_pattern_array_string_mirror=export_pattern_array_mirror.join("],[")
            document.querySelector("#mirror-rotate-array-export-y").innerHTML = `[[${export_pattern_array_string_mirror}]]`;

        });
        reader.readAsText(file);
    });

    document.querySelector("#change").addEventListener('click', function () {
        var change_selected = document.getElementById("list").value;
        var temp_grid = [];
        if (change_selected == "mirror" && change == 0) {
            for (var i = 0; i < pattern_width; i++) {
                var row_mirror = [];
                for (var j = 0; j < pattern_height; j++) {
                    console.log(grid[pattern_width-1- i][pattern_height-1- j])
                    row_mirror.push(grid[pattern_width-1- i][pattern_height-1 - j])
                }
                temp_grid.push(row_mirror)
            }
        }
        for (var i = 0; i < pattern_width; i++) {
            for (var j = 0; j < pattern_height; j++) {
                if (temp_grid[i][j] == 1) {
                    //console.log(1)
                    offset_y = j - middle_cell[1];
                    offset_x = i - middle_cell[0];
                    export_pattern_array.push([offset_y, offset_x])//[y,x]
                    export_pattern_array_string += `[${offset_y},${offset_x}]`
                }
                export_pattern_array_string += ","
            }
        }
        export_pattern_array_string = export_pattern_array.join("],[")
        document.querySelector("#array-export").innerHTML = `[[${export_pattern_array_string}]]`;
    })
</script>