body {
    padding: 20px;
    background-color:rgb(157, 241, 216);
}
.largecontainer{
    justify-content: center;
    justify-items:center;
    margin:0;
    display:flex;
    flex-wrap:wrap;
    height:80vh;
    position:relative;
}
#container{
    cursor:grab;
    overflow:auto;
    display:flex;
    justify-content: center;
    margin:0;
    padding:0;
    position: absolute;
    left:120px;
    right:120px;
    height:100%;
}
#patternSelector{
    width:100%;
    position:relative;
    overflow:auto;
    display:flex;
    cursor:grab;
    margin:0;
}
#patternSelector_col_left{
    position:absolute;
    overflow:auto;
    width:120px;
    top:0;
    bottom:0;
    left:0;
    background:cornflowerblue;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#patternSelector_col_right{
    position:absolute;
    overflow:auto;
    width:120px;
    top:0;
    bottom:0;
    right:0;
    background:cornflowerblue;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#patternSelector_col_left table {
    background-color: rgb(32, 30, 1);
    border-spacing: 0;
    overflow-y:scroll;
}
#patternSelector_col_left td {
    border: 0px solid grey;
    color:white;
    border-radius: 3px;
    width: 120px;
    height: 160px;
}
#pt00{
    border: 0px solid grey;
    color:white;
    border-radius: 3px;
    width: 120px;
    height: 30px!important;
}
#pt0{
    border: 0px solid grey;
    color:white;
    border-radius: 3px;
    width: 120px;
    height: 30px!important;
}
#patternSelector_col_right table {
    background-color: rgb(4, 11, 43) ;
    border-spacing: 0;
    overflow-y:scroll;
}
#patternSelector_col_right td {
    border: 0px solid grey;
    color:white;
    border-radius: 3px;
    width: 120px;
    height: 160px;
}
#ept0{
    border: 0px solid grey;
    color:white;
    border-radius: 3px;
    width: 120px;
    height: 30px!important;
}
#ept00{
    border: 0px solid grey;
    color:white;
    border-radius: 3px;
    width: 120px;
    height: 30px!important;
}
#patternSelector table {
    background-color: white;
    border-spacing: 0;
    overflow-x:scroll;
}
#patternSelector td {
    border: 1px solid grey;
    border-radius: 3px;
    width: 120px;
    height: 60px;
}
#patternSelector li:hover{
    background:#333;
    color:#fff;
    box-shadow:0 0 7px rgb(0 0 0/10%);
    margin:0;
}
.pattern_button{

}
.pattern_content{
    display:flex;
}
.pattern_content_col{
    text-align:center;
}
.pattern_clicked{
    background:#a07210;
}
.pattern_clicked_enemy{
    background:#0a7cb1;
}
button {
    margin:10px;
}
#gridContainer {
    /*display:inline-block !important;*/
    flex:0 0 auto;
}
#gridContainer > div{
    display:inline-block;
}
#t{
    background:url(./21091207-photography-website-space-photos_cover_2000x1335.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    border-spacing: 0;
}

td {
    border: 0px solid grey;
    border-radius: 3px;
    /*width: 5px;
    height: 5px;*/
}
span {
    color: #222;
}
#continue{
    background:rgb(2, 46, 2);
    position:absolute;
    height:40px;
    width:300px;
    left:50%;
    transform:translate(-50%);
    border-top-left-radius:40px;
    border-top-right-radius: 40px;
    border-top:5px solid rgb(2, 172, 2);
    text-align: center;
    color:white;
    font-size:20px;
    align-items: center;
    margin-top:30px;
}
#continue:hover{
    background:coral;
}
#continue_clicked{
    background:crimson;
}
#start,
#clear,
#random {
    padding: .75em;
    border-radius: 5px;
    border: none;    
    background: linear-gradient(
        to bottom right,
        #5bc0c7, #587559);
}
.console_bar{
    height:70px;
}
/*rgb(104,42,1)*/
/*rgb(2,46,2)*/
#player_y_console{
    background:linear-gradient(rgb(32, 30, 1),rgb(55,55,2));
    position:absolute;
    right:0;
    height:100%;
    width:88%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 20px;
    color:white;
}
#player_b_console{
    background:linear-gradient(rgb(4, 11, 43),rgb(20,30,43));
    position:absolute;
    left:0;
    height:100%;
    width:88%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 20px;
    color:white;
}
.instructions_y{
    align-items: center;
    align-content:center;
    vertical-align: middle;
    position:absolute;
    right:170px;
}
.instructions_b{
    align-items: center;
    align-content:center;
    vertical-align: middle;
    position:absolute;
    left:170px;
}
.instruction_y{
    flex:wrap;
    display:flex;
    align-items: center;
    justify-content:flex-end;
    font-size: 13px;
}
.instruction_b{
    flex:wrap;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    font-size: 13px;
}
.key{
    width:20px;
    height:20px;
    border-radius:5px;
    font-size:15px;
    text-align:center;
    align-items: center;
    background:grey;
    color:white;
    line-height: 20px;
    margin:2px;
}
#console_text_y{
    font-size:20px;
    color:black;
    position:absolute;
    right:360px;
    left:30px;
    height:70px;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    line-height:20px;
}
#console_text_b{
    font-size:20px;
    color:black;
    position:absolute;
    right:30px;
    left:360px;
    height:70px;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    line-height:20px;
}
.console_words_yr1{
    background:linear-gradient(rgb(32, 30, 1),red) !important;
}
.console_words_yr2{
    background:linear-gradient(rgb(32, 30, 1),rgb(194, 1, 1)) !important;
}
.console_words_yr3{
    background:linear-gradient(rgb(32, 30, 1),rgb(173, 56, 1)) !important;
}
.console_words_yr4{
    background:linear-gradient(rgb(32, 30, 1),rgb(141, 70, 3)) !important;
}
.console_words_yr5{
    background:linear-gradient(rgb(32, 30, 1),rgb(104, 59, 1)) !important;
}
.console_words_yr6{
    background:linear-gradient(rgb(32, 30, 1),rgb(77, 55, 2)) !important;
}
.console_words_br1{
    background:linear-gradient(rgb(4, 11, 43),red) !important;
}
.console_words_br2{
    background:linear-gradient(rgb(4, 11, 43),rgb(185, 6, 45)) !important;
}
.console_words_br3{
    background:linear-gradient(rgb(4, 11, 43),rgb(150, 12, 97)) !important;
}
.console_words_br4{
    background:linear-gradient(rgb(4, 11, 43),rgb(109, 8, 95)) !important;
}
.console_words_br5{
    background:linear-gradient(rgb(4, 11, 43),rgb(84, 21, 126)) !important;
}
.console_words_br6{
    background:linear-gradient(rgb(4, 11, 43),rgb(23, 21, 104)) !important;
}
.console_words_yg4{
    background:linear-gradient(rgb(32, 30, 1),rgb(1, 68, 12)) !important;
}
.console_words_yg5{
    background:linear-gradient(rgb(32, 30, 1),rgb(23, 46, 1)) !important;
}
.console_words_yg6{
    background:linear-gradient(rgb(32, 30, 1),rgb(40, 43, 1)) !important;
}
.score_y{
    background:linear-gradient(90deg,rgb(78, 67, 1),rgb(2,46,2));
    position:absolute;
    right:0;
    width:160px;
    height:50px;
    border-bottom-left-radius:50px;
    border-bottom:5px solid yellow;
    border-right:2px solid black;
    border-top-right-radius: 10px;
    text-align: right;
    display:flex;
    justify-content:flex-end;
}
.score_b{
    background:linear-gradient(90deg,rgb(2,46,2),rgb(1, 25, 78));
    position:absolute;
    left:0;
    width:160px;
    height:50px;
    border-bottom-right-radius:50px;
    border-bottom:5px solid rgb(0, 81, 255);
    border-left:2px solid black;
    border-top-left-radius: 10px;
    display:flex;
    justify-content:start;
}
.gem_y{
    text-align:left;width:15px;height:15px;margin-left:10px;margin-top:7px;margin-right:10px;
}
.gem_b{
    text-align:left;width:15px;height:15px;margin-left:10px;margin-top:7px;margin-right:10px
}
.gem_pattern_y{
    text-align:left;width:15px;height:15px;margin-bottom:3px;padding-bottom:0px;
}
.gem_pattern_b{
    text-align:right;width:15px;height:15px;margin-bottom:3px;margin-right:4px;
}
td.dead {
    background-color: black;
    /*opacity:0.6;*/
}
td.dead_y_dark {
    background-color: rgb(44, 22, 7);
}
td.dead_b_dark {
    background-color: rgb(33, 9, 65);
}
td.dead_y {
    background-color: rgb(24, 19, 4);
}
td.dead_b {
    background-color: rgb(5, 11, 36);
}
td.dead_god{
    background-color: rgb(87, 85, 85);

}
td.live {
    background-color: yellow;
    border-radius: 10px;
}
td.live1 {
    background-color: rgb(235, 235, 3);
    border-radius: 10px;
}
td.live2 {
    background-color: rgb(204, 204, 2);
    border-radius: 10px;
}
td.live3 {
    background-color: rgb(187, 187, 3);
    border-radius: 10px;
}
td.live4 {
    background-color: rgb(163, 163, 2);
    border-radius: 10px;
}
td.live5 {
    background-color: rgb(141, 141, 2);
    border-radius: 10px;
}
td.live6 {
    background-color: rgb(122, 122, 2);
    border-radius: 10px;
}
td.live7 {
    background-color: rgb(105, 105, 3);
    border-radius: 10px;
}
td.live8 {
    background-color: rgb(83, 83, 1);
    border-radius: 10px;
}
td.live9 {
    background-color: rgb(59, 59, 0);
    border-radius: 10px;
}
td.live10 {
    background-color: rgb(51, 51, 1);
    border-radius: 10px;
}
td.live11 {
    background-color: rgb(48, 48, 0);
    border-radius: 10px;
}
td.live12 {
    background-color: rgb(131, 1, 33);
    border-radius: 10px;
}
td.live_enemy{
    background-color: cyan ;
    border-radius: 10px;
}
td.live_enemy1{
    background-color: rgb(0, 235, 235) ;
    border-radius: 10px;
}
td.live_enemy2{
    background-color: rgb(3, 218, 218) !;
    border-radius: 10px;
}
td.live_enemy3{
    background-color: rgb(4, 196, 196) ;
    border-radius: 10px;
}
td.live_enemy4{
    background-color: rgb(2, 177, 177) ;
    border-radius: 10px;
}
td.live_enemy5{
    background-color: rgb(2, 155, 155) ;
    border-radius: 10px;
}
td.live_enemy6{
    background-color: rgb(2, 133, 133) ;
    border-radius: 10px;
}
td.live_enemy7{
    background-color: rgb(1, 110, 110) ;
    border-radius: 10px;
}
td.live_enemy8{
    background-color: rgb(0, 90, 90) ;
    border-radius: 10px;
}
td.live_enemy9{
    background-color: rgb(0, 71, 71) ;
    border-radius: 10px;
}
td.live_enemy10{
    background-color: rgb(0, 59, 59) ;
    border-radius: 10px;
}
td.live_enemy11{
    background-color: rgb(0, 44, 44) ;
    border-radius: 10px;
}
td.live_enemy12{
    background-color: rgb(148, 3, 10) ;
    border-radius: 10px;
}
td.live_god_y1{
    background-color: rgb(255, 255, 255) ;
    border-radius: 10px;
}
td.live_god_y2{
    background-color: rgb(246, 248, 94) ;
    border-radius: 10px;
}
td.live_god_y3{
    background-color: rgb(247, 205, 144) ;
    border-radius: 10px;
}
td.live_god_y4{
    background-color: rgb(253, 223, 189) ;
    border-radius: 10px;
}
td.live_god_y5{
    background-color: rgb(231, 252, 175) ;
    border-radius: 10px;
}
td.live_god_y6{
    background-color: rgb(250, 232, 184) ;
    border-radius: 10px;
}
td.live_god_b1{
    background-color: rgb(255, 255, 255) ;
    border-radius: 10px;
}
td.live_god_b2{
    background-color: rgb(152, 240, 247) ;
    border-radius: 10px;
}
td.live_god_b3{
    background-color: rgb(162, 252, 203) ;
    border-radius: 10px;
}
td.live_god_b4{
    background-color: rgb(236, 209, 248) ;
    border-radius: 10px;
}
td.live_god_b5{
    background-color: rgb(164, 207, 247) ;
    border-radius: 10px;
}
td.live_god_b6{
    background-color: rgb(158, 245, 155) ;
    border-radius: 10px;
}
td:hover{
    background-color:coral !important;
}
.score{
    width: 60px;
    height: 30px;
    background:rgb(0, 0, 0);
    margin:10px;
}
td.cell_hovered{
    background-color: coral  !important;
}
td.cell_hovered_enemy{
    background-color: blueviolet !important;
}
td.cell_hovered_failed{
    background-color:red !important;
}
td.cell_hovered_delete_y{
    background-color:rgb(248, 248, 192) !important;
    border-radius:1px;
}
td.cell_hovered_delete_b{
    background-color:rgb(198, 251, 253) !important;
    border-radius:1px;
}
.controls{
    display:flex;
    flex-wrap:wrap;
    width:100%
}
.cell{
    height:5px;width:5px;
}
.cell1{
    height:2px;width:2px;
}
.cell2{
    height:5px;width:5px;
}
.cell3{
    height:6px;width:6px;
}
.cell4{
    height:8px;width:8px;
}
.cell5{
    height:10px;width:10px;
}
.cell6{
    height:12px;width:12px;
}
.cell7{
    height:14px;width:14px;
}
.cell8{
    height:16px;width:16px;
}
.cell9{
    height:18px;width:18px;
}
#winYellow{
    position:absolute;
    top:300px;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgba(228, 231, 54, 0.6);
    height:175px;
    width:300px;
    justify-content:center;
    text-align:center;
    align-content:center;
    border-radius:80px;
    font-size:60px;
}
#winBlue{
    position:absolute;
    top:300px;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgba(60, 71, 224, 0.6);
    height:175;
    width:300px;
    justify-content:center;
    text-align:center;
    align-content:center;
    border-radius:80px;
    font-size:60px;
    color:white;
}
.title{
    height:30px;
    padding-top:20x;
    margin-top:20px;
}
.form{
    display:flex;
    
}