body {
    padding: 20px;
    background-color:black!important;
    color:white;
    font-family: Verdana, sans-serif; 
    margin:0;
}
.information{
    height:60px;
    background:linear-gradient(white,grey);
    border-bottom-left-radius: 50px;
}
.game{
    height:60px;
    background:linear-gradient(white,grey);
}
.freemode{
    height:60px;
    background:linear-gradient(white,grey);
    border-bottom-right-radius: 50px;
}
.menu div:hover{
    background:coral;
}
.menu {
    vertical-align: middle;
    text-align:center;
    line-height:60px;
    display:table;
    overflow:hidden;
}
.menu div{
    display:table-cell;
    vertical-align:middle;
}
#clip{
    /*position:absolute;
    clip:rect(0, auto,500px,0);*/
}
.row{
    margin:0;
    justify-items: space-between;
}
.mySlides {
    display: none;
    height:500px;
}
.mySlides img{
    height:80vh;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: 0;
  height:500px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#Contents{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
#ContentInformation{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:rgba(27, 27, 27, 0.6);
    height:400px;
    width:80vh;
    justify-content:center;
    text-align:center;
    align-content:center;
    border-radius:80px;
    font-size:20px;
    color:white;
    line-height:35px;
    padding:20px;
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
}

.play1{
    background:chartreuse;
    width:100px;
    height:50px;
    padding-top:5px;
    margin-top:20px;
    align-items: center;
    text-align: center;
    color:black;
    border-radius:10px;
    font-size: 30px;
    cursor:pointer;
}
.play2{
    background:chartreuse;
    width:100px;
    height:50px;
    padding-top:5px;
    margin-top:20px;
    align-items: center;
    text-align: center;
    color:black;
    border-radius:10px;
    font-size: 30px;
    cursor:pointer;
}
